.content {
    padding: 16px;
}


.mat-card-image{


    margin: 0%;

    width: 100%;

   height: 300px;


}

.mat-card-content {


    margin-top: 20px;


}


.p{

    max-height: 50px;

}




.pagination_container{


    display: flex;
    
    justify-content: center;
    
    margin-top: 20px;
    
    
    }

