<div class="container">
            
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-6">
            <div class="white-box text-center"><img src="{{apiServerUrl}}/img/{{university.image}}" class="img-responsive"></div>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-6">

            <h1 class="box-title mt-5">{{university.name}}</h1>

            <h2 class="box-title mt-5">Country : {{university.country}}</h2>

            <p>{{university.description}}</p>

            <button mat-raised-button color="primary" class="margin-top"  (click)="Apply()">Apply</button>
                     
 </div>
 </div>
</div>
